@page "/"

<h1>Jake Hanson</h1>

This is my new app, created in Blazor. Blazor is somewhat of a combination of C with HTML, allowing for normal applications to be web-accessible,
allowing for an infinite amount of possibilities.

<h2>HTML is one of my favorite languages to code, so combining it with C is a dream come true!</h2>

<SurveyPrompt Title="Blazor is working great for me, how is it working for you?" />
